@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Beautifully Delicious";
  src:
    url("/src/assets/fonts/BDSans-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/BDSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3 {
    @apply font-beautiful text-blue-700;
  }

  h2 {
    @apply sm:text-[3.4rem] text-[2.5rem];
  }

  a {
    @apply text-blue-500 hover:text-blue-600 hover:underline;
  }
}

@layer utilities {
  .section-offset {
    @apply -mt-60 pt-60;
  }
}
